@font-face {
  font-family: Font;
  src: url(./fonts/BRLNSR.TTF);
  font-weight: bold;
}

* {
  margin: 0;
  font-family: Font;
  color: whitesmoke;
  background-color: black;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 990px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

button {
  height: 35px;
  border-radius: 10px;
  border-width: 1px;
  background-color: #dfd1d6;
  color: black;
  font-weight: bold;
}

body {
  background-color: #f1f0f0;
}

.navbar h1 {
  color: #cc3030;
  font-weight: bolder;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #cc3030;
  font-weight: bold;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

p {
  text-align: justify;
}

.ai {
  text-align: center;
}

.not-found {
  text-align: center;
}

.ali {
  width: 150px;
}

@media screen and (min-width: 1024px) {
  .gfg-div {
    background-color: #63c971;
    color: #fff;
  }
}
 
/* For Tablet View */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
  .gfg-div {
    width: 400px;
    height: 400px;
    background-color: orange;
    color: black;
  }
}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
  .gfg-div {
    width: 200px;
    height: 200px;
    background-color: red;
    color: #fff;
  }
}
 
/* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
and (orientation: landscape) {
  .gfg-div {
    width: 400px;
    height: 200px;
    background-color: cyan;
    color: black;
  }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .gfg-div {
    width: 400px;
    height: 200px;
    background-color: chartreuse;
    color: black;
  }
}
 
/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
  .gfg-div {
    width: 400px;
    height: 400px;
    background-color: brown;
    color: black;
  }
}
 
/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
  .gfg-div {
    width: 400px;
    height: 400px;
    background-color: cornflowerblue;
    color: black;
  }
}
 
/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px)
and (-webkit-min-device-pixel-ratio: 3) {
  .gfg-div {
    width: 400px;
    height: 400px;
    background-color: darkgoldenrod;
    color: black;
  }
}

.g {
  text-align: center;
  text-decoration: underline;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8c0c8;
  max-width: max-content;
}

.text {
  font-size: 20px;
  padding-left: 200px;
  text-align: left;
}

p {
  font-weight: bold;
}